{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'character_detail.css' %}">
    <title>Detalles personaje</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Iceberg&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <h1>Detalles de {{ character.name }}</h1>


    <ul>
        <li><strong>Raza:</strong> {{ character.get_race_display }}</li>
        <li><strong>Facción:</strong> {{ character.faction }}</li>
        <li><strong>Ubicación:</strong> {{ character.ubication }}</li>
        <li><strong>Equipo:</strong>
            {% if character.equipment.all %}
                <ul>
                    {% for item in character.equipment.all %}
                        <li>{{ item.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                Ningún equipo equipado.
            {% endif %}
        </li>
        <li><strong>Arma Equipada:</strong> {{ character.arma_equipada|default:"Sin arma" }}</li>
    </ul>


    <h2>Relaciones</h2>
    {% if character.personaje1.all or character.personaje2.all %}
        <ul>
            {% for relacion in character.personaje1.all %}
                <li>{{ character.name }} es {{ relacion.get_tipo_display }} de {{ relacion.related_to.name }}
                    (Confianza: {{ relacion.confidence_level }})
                </li>
            {% endfor %}
            {% for relacion in character.personaje2.all %}
                <li>{{ character.name }} es {{ relacion.get_tipo_display }} de {{ relacion.character.name }}
                    (Confianza: {{ relacion.confidence_level }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Este personaje no tiene relaciones registradas.</p>
    {% endif %}


    <a href="{% url 'character:character_list' %}">Volver a la lista</a>
    <a href="{% url 'character:change_ubication' character.id %}">Cambiar Ubicación</a>
    <a href="{% url 'character:equip_weapon' character.id %}">Equipar Arma</a>
    <a href="{% url 'character:delete_character' character.id %}">Eliminar Personaje</a>
</div>
</body>
</html>
