{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'character_form.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Iceberg&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <h1>{{ subtitle }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{{ button_text }}</button>
    </form>
</div>

<div>
    <a href="{% url 'character:character_list' %}">Lista de personajes</a>
    <a href="{% url 'character:principal_menu' %}">Volver al menú principal</a>
</div>
</body>
</html>
