{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Humanos</title>
    <link rel="stylesheet" href="{% static 'humanos_list.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Iceberg&display=swap" rel="stylesheet">
</head>
<body>
<h1>Lista de Humanos</h1>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Facción</th>
        <th>Ubicación</th>
        <th>Equipamiento</th>
    </tr>
    </thead>
    <tbody>
    {% for humano in humanos %}
        <tr>
            <td>{{ humano.name|capfirst }}</td>
            <td>{{ humano.faction|capfirst }}</td>
            <td>{{ humano.ubication|capfirst }}</td>
            <td>
                {% for equipo in humano.equipment.all %}
                    {{ equipo.name|capfirst }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">No hay humanos disponibles.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="/" class="back-link">Volver al Inicio</a>
<a href="{% url 'character:character_list' %}" class="back-link">Volver a lista de personajes</a>
</body>
</html>