{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página principal</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div>
        <a href="{% url 'character:create_character' %}">Crear personaje</a>
        <a href="{% url 'character:character_list' %}">Lista de personajes</a>
        <a href="{% url 'equipment:equipment_list' %}">Lista de armas</a>
        <a href="{% url 'battle:simulate' %}">Batalla</a>
    </div>
</body>
</html>