<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="../static/relacion_form.css">
   <title>Crear relación</title>
</head>
<body>
<div>
   <h1>Crear relación</h1>
   <form method="post">
       {% csrf_token %}
       {{ form.as_p }}
       <button type="submit">Crear relación</button>
   </form>
</div>
<div>
    <a href="{% url 'character:character_list' %}">Lista de personajes</a>
    <a href="{% url 'character:principal_menu' %}">Menu principal</a>
</div>
</body>
</html>
