* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("images/fondo.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

div{
    position: relative;
    top: -230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #3a1f20 2px solid;
    border-radius: 15px;
    width: 40%;
    padding: 30px 0px;
    background-color: rgba(48, 25, 26, 0.92);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

div:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px #2b1617;
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}

a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 7px;
    background-color: rgba(90, 47, 58, 0.62);
    transition: background-color 0.35s ease, color 0.35s ease, transform 0.3s ease;
}

a:hover{
    cursor: pointer;
    color: #cfcfcf;
    background-color: rgba(136, 79, 92, 0.62);
    transition: background-color 0.35s ease, color 0.35s ease;

}