* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'MiFuente', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://wallpapers.com/images/hd/lord-of-the-rings-wallpaper-for-ipad-1920x1080-hd-for-ipad-apps-s4husiz6bz8aavpz.jpg");
}

div{
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #3a1f20 2px solid;
    border-radius: 15px;
    width: 40%;
    padding: 45px 0px;
    background-color: rgba(67, 37, 43, 0.38);
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}

a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 7px;
    background-color: rgba(73, 36, 45, 0.62);
    transition: background-color 0.35s ease, color 0.35s ease;
}

a:hover{
    cursor: pointer;
    color: #cfcfcf;
    background-color: rgba(126, 69, 82, 0.62);
    transition: background-color 0.35s ease, color 0.35s ease;

}