body{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-image: url("https://wallpapers.com/images/hd/lord-of-the-rings-wallpaper-for-ipad-1920x1080-hd-for-ipad-apps-s4husiz6bz8aavpz.jpg");
}

h1{
    padding-top: 90px;
    padding-bottom: 240px;
    text-decoration: underline;
}

a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    border: 2px white solid;
    padding: 5px;
    border-radius: 5px;
    background-color: #b990a0;
    transition: background-color 0.35s ease;
}

a:hover{
    cursor: pointer;
    background-color: #c8acb7;
    transition: background-color 0.35s ease;

}