{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Equipamiento</title>
    <link rel="stylesheet" type="text/css" href="{% static 'equipment_delete.css' %}">

</head>
<body>
    <h2>Eliminar Equipamiento</h2>

    <p>¿Estás seguro de que deseas eliminar <strong>{{ equipment.name }}</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>

    <br>
    <a href="{% url 'equipment:equipment_list' %}">Cancelar</a>
</body>
</html>
